<div id="experiences">
    {% for xp in site.data.resume.experiences %}
    <p class="xp">
        {% assign date = '' %}
        {% if xp.end_date %}
        {% assign date = xp.start_date | append: ' &#183; ' | append : xp.end_date %}
        {% else %}
        {% assign date = xp.start_date %}
        {% endif %}
        <span class="xp_date">{{date}}</span>
        <span class="xp_place"> {{xp.place.structure | append: ' &#x2012; ' | append: xp.place.city | append: ', ' | append: xp.place.country}}</span>
        <span class="xp_desciption">: {{xp.description}}</span>
    </p>
    {% endfor %}
</div>
