<!DOCTYPE html>
<html class="no-js" lang="en">

{% include head.html %}

<body class="half">

    <main>
        <div class="half__image" ></div>
        <div class="half__content">
            <div class="inner-vertical">
                <div class="inner-horizontal">
                    {% if site.title%}
                    <h1> {{site.title}} </h1>
                    {% endif %}
                    <p>{{content}}</p>
                    {% include social.html%}
                </div>
            </div>
            {
        </div>
    </main>


</body>

</html>